name: docs

on:
  push:
    branches: main
    paths:
      - 'docs/**'

jobs:
  Docs:
    uses: ./.github/workflows/composite-docs.yml
    with:
      ref: 'main'
      target-directory: 'book/unstable'
